{% extends "computer_science/base.html" %}

{% block title %}Analysis, Design and Comparison{% endblock title %}

{% block body %}
    <h1>Analysis, Design and Comparison</h1>
    <h2>Big O Notation</h2>
    <p>A method for expressing the complexity of an algorithm.</p>
    <p>We can represent this by the notation of \(O(X)\) where \(X\) is some variation of \(N\) such as \(N^2\).</p>
    <h3>Calculating Big-O Based on Algorithm</h3>
    <ol class="instruction">
        <li>
            To calculate the Big-O for a whole algorithm, break down the time complexity for all the smaller parts of
            the
            algorithm
        </li>
        <li>
            Add all the smaller parts together. If processes occurs within a larger process, add them together and then
            multiply them by the complexity of the larger process
        </li>
    </ol>
    <h2>Heuristics</h2>
    <p>
        A heuristic is a method to improve the efficiency of an algorithm. We do this by making a guess or approximation
        of how close we are to the solution to allowing us to work at finding an answer without trying all variables.
    </p>
{% endblock body %}
