{% extends "computer_science/base.html" %}

{% block title %}Thinking Abstractly{% endblock title %}

{% block body %}
    <h1>Thinking Abstractly</h1>
    <h2>What is abstraction?</h2>
    <p>Existing in thought or as an idea but not having a physical or concrete existence.</p>
    <h3>Abstraction in Computer Programming</h3>
    <p>Taking a complex idea or object and removing unnecessary data to create a model of it on a computer.</p>
    <h2>The Nature of Abstraction</h2>
    <p>
        We build "model" of the real item, but we only reproduce the relevant features of those objects to reduce the
        amount of processing required.
    </p>
    <h2>Why We Have Abstraction</h2>
    <p>Allows for complex procedures or events to be modelled</p>
    <p>An exact representation of real life would be too complex for a program to manage.</p>
{% endblock body %}
