{% extends "computer_science/base.html" %}

{% block title %}Software Development{% endblock title %}

{% block body %}
    <h1>Software Development</h1>
    <h2>The Waterfall Model</h2>
    <p>The waterfall model goes through five stages</p>
    <h3>Analysis</h3>
    <ul>
        <li>Feasibility study</li>
        <li>Problem identified</li>
        <li>Existing solutions studies</li>
        <li>Feature list determined</li>
    </ul>
    <p>
        The feasibility of solving the main problem is researched to determine whether the cost and time of solving the
        problem is worth it.
    </p>
    <p>Deconstruct the problem into smaller parts that can be tackled actionable.</p>
    <p>Existing solutions are studied to ensure that any work being done is not recreating the wheel.</p>
    <p>Feature list is determined to prioritise what features are necessary and which features are additions.</p>
    <h3>Design</h3>
    <h3>Implementation</h3>
    <p>Working from the plans the program is created according to specification.</p>
    <h3>Evaluation</h3>
    <p>The system is tested and bugs in the program is fixed at this stage in the development.</p>
    <h3>Maintenance</h3>
    <p>After implementation bugs may arise through general use, and are fixed in patches.</p>
{% endblock body %}
