{% extends "computer_science/base.html" %}

{% block title %}Structure and Function{% endblock title %}

{% block body %}
    <h1>Structure and Function</h1>
    <h2>Assembly Language</h2>
    <p>Assembly language is a one-to-one mapping of commands to inbuilt processor commands.</p>
    <p>The basic commands are:</p>
    <ul>
        <li>ADD - Add a value in memory to the value in the accumulator.</li>
        <li>SUB - Subtract the value in the accumulator by a value in memory.</li>
        <li>HALT - End the running of the program.</li>
        <li></li>
    </ul>
{% endblock body %}
