{% extends "physics/base.html" %}

{% block title %}Capacitors{% endblock title %}

{% block body %}
    <h1>Capacitors</h1>
    <h2>Effect of Area and Plate Separation</h2>
    <p>Increasing the area or using a dielectric will increase the capacitance</p>
    <p>Increasing the distance between the plates will decrease the capacitance</p>
    <p>Overall we get \( C = \frac{ ( \epsilon_{R} \epsilon_{0} A ) }{ d } \)</p>
    <h2>The Electric Field</h2>
    <p>The molecules of a dielectric are usually polar</p>
    <p>In an electric field they rotate to line up</p>
    <p>
        Since the charges are in the opposite direction to the original field they will decrease the size of the
        electric field leading to decreased voltage and increased capacitance.
    </p>
    <p>The electric field is given by \( E = \frac{V}{d} \) \( C = \frac{Q}{V} \)</p>
    <p>The addition of a dielectric decreases \( E \) (and \( V \)) by a factor \( \epsilon_{R} - \text{ } \)</p>
{% endblock body %}
