{% extends "physics/base.html" %}

{% block title %}Gravitational Fields{% endblock title %}

{% block body %}
    <h1>Gravitational Fields</h1>
    <h2>Newton's Law of Gravitation</h2>
    <p>The force between two masses is:</p>
    <ul>
        <li>Proportional to the product of their masses</li>
        <li>Inversely proportional to the square of their separation</li>
        <li>G is the universal gravitational constant \(G = 6.7 * 10^-11 N m^-2 kg^-2\)</li>
        <li>\(F = G \frac{Mm}{R^2}\)</li>
    </ul>
{% endblock body %}
