{% extends "physics/base.html" %}

{% block title %}Magnetic Fields{% endblock title %}

{% block body %}
    <h1>Magnetic Fields</h1>
    <h2>Fleming's Left Hand Rule</h2>
    <p>
        \( F = I \textbf{L} \times \textbf{B} = iLBsin(\theta)
        \text{ or }
        F = q \textbf{v} \times \textbf{B} = qvBsin(\theta) \)</p>
    <ul>
        <li>
            A wire of length \( L \) carrying a current \( I \) in a magnetic field of stringth \( B \) will experience
            a force.
        </li>
        <li>The force is greatest when the wire is perpendicular to the magnetic field</li>
    </ul>
{% endblock body %}
